* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: #009c88;
}

::-webkit-scrollbar-track {
  background-color: #fafdfc;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafdfc;
  color: #009c88;
  position: relative;
}

.navbar {
  text-transform: uppercase;
  color: #009c88;
  background-color: #fafdfc;
}

.navbar a {
  color: inherit;
  transition: ease-in-out 0.3s;
}

.navbar a:hover {
  color: #4de6b8;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.5rem;
}

.navbar-toggler {
  border-color: #009c88;
}

.navbar-toggler-icon {
  background-image: url("http://localhost/infaqlillah/assets/img/bars-solid.svg");
}

.navbar-nav .nav-link {
  margin: auto 1rem;
  font-weight: 600;
}

.navbar-nav .nav-link.active {
  position: relative;
}

.navbar-nav .nav-link.active::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 3rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #009c88;
  border-radius: 3rem;
}

.header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-title {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 600;
}

.header-desc {
  color: #4de6b8;
}

.content-title {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.content-subtitle {
  font-size: 2.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

.content-box {
  color: #fafdfc;
  background-color: #009c88;
  max-width: 180px;
  padding: 1.5rem 0;
  border-radius: 1rem;
}

.content-box-bordered {
  border: 2px solid #009c88;
  border-radius: 1rem;
  max-width: 500px;
  padding: 1.5rem 3rem;
}

.divider {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #009c88;
}

#about {
  padding-top: 5rem;
}

#about .benefit-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  height: 150px;
  border: 3px solid #009c88;
  border-radius: 1rem;
}

#about .benefit-desc {
  color: #009c88;
  font-size: 1.25rem;
}

#statistics {
  padding-top: 5rem;
}

#statistics .users .total-user {
  font-size: 2.5rem;
  line-height: normal;
  margin: 0;
  padding: 0;
}

#statistics .users .number-infaq {
  font-size: 1.5rem;
}

#statistics .infaq {
  margin: 3rem auto;
}

#statistics .infaq-total {
  font-size: 2rem;
  font-weight: 600;
}

#statistics .report-desc, #statistics .report-money {
  font-weight: 600;
  font-size: 1.25rem;
}

footer {
  padding: 5rem 0 1rem;
  margin-top: 3rem;
  background-color: #009c88;
  color: #fafdfc;
}

footer .maps {
  border-radius: 1rem;
  border: 0;
  box-shadow: 3px 3px 4px #015045;
  width: 100%;
  height: 500px;
}

footer .content-subtitle {
  font-size: 1.75rem;
}

footer a {
  color: inherit;
  text-decoration: none;
  transition: ease-in-out 0.3s;
}

footer a:hover {
  color: #4de6b8;
}

@media screen and (max-width: 768px) {
  .content-title {
    font-size: 2.5rem;
  }
  .content-subtitle {
    font-size: 2rem;
  }
  .header {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .header-title {
    font-size: 3rem;
  }
  #statistics .users {
    margin-top: 3rem;
  }
  #statistics .users .total-user {
    font-size: 3.5rem;
  }
  #statistics .users .number-infaq {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 576px) {
  * {
    font-size: 12px;
  }
  .content-title {
    font-size: 2.25rem;
  }
  .content-subtitle {
    font-size: 1.75rem;
  }
  .header-title {
    font-size: 3rem;
  }
  #about .benefit-box {
    max-width: 120px;
    height: 120px;
  }
  #statistics .infaq-total {
    font-size: 2rem;
  }
  footer .maps {
    height: 300px;
  }
}
/*# sourceMappingURL=main.css.map */